@mixin dashboard-settings-view {

	.sftp-settings-view {
		margin: 0px;
		width: auto;
		height: 100%;
		overflow: hidden;
		display: block;
		padding: 5px
	}
	
	.sftp-settings-view .v-formlayout {
		padding-top: 0px !important;
		padding-left: 10px !important;
		vertical-align: top;
	}
		
	.sftp-settings-view .v-caption-status-panel .v-captiontext {
		font-size: 12px;
		color: darkblue;
	}
	
	.sftp-settings-view .v-caption-status-panel {
		border-bottom: 1px solid darkblue;
	}

	.sftp-settings-view .v-table-cell-wrapper {
		font-size: 12px;
	}
	
	.sftp-settings-view .v-label-status-panel {
		color: darkblue;
		font-size: 12px;
		border-bottom: 1px solid darkblue;
		margin-top: 0px;
		margin-bottom: 10px;
	}
		
	
}